
<div class="jumbotron text-center bg-warning">
  <h1 class="display-4 text-danger">What Kind Of Burger Do You Like To Eat?</h1>
  <hr class="my-4">
  <img src="../images/burger.JPG" alt="Picture of Burger" style="height:300px; width:300px" class="rounded-circle mt-3 mb-3">
  	{{#each burgers}}
      <p class="text-muted">
        {{this.id}}. {{this.burger_name}}

        <button data-burgerid="{{this.id}}" class="devBurger">Devour it!</button>

      </p>
    </li>
  {{/each}}
</ul>

<h2 class="mt-4 text-primary">Order A Burger Here:</h2>
<br>
<form id="addburger" class="button-size">
	<textarea type="text" name="burger"></textarea>
	<button type="submit">Eat the Burger!</button>
</form>


</div>